<footer>
      <div class="navbar">
        <div class="container">
          <div class="navbar-footer">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#footer">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            </button>
          </div>
          <div class="navbar-collapse collapse in" id="footer">
            <ul class="nav navbar-nav navbar-center">
              <li><a href="#" ng-click="noData()">Privacy</a></li>
              <li><a href="#" ng-click="noData()">Policy</a></li>
              <li><a href="#" ng-click="noData()">T & C</a></li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
